@charset "utf-8";
/*Profile CSS */
/* Customizations*/
font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
}
section.resume-section
{
	padding-top:2rem!important;
	padding-bottom:5rem!important; 
	padding-left: 0%; 
	margin-left: 0%; 
	height: 46em;
	width: 1020px;
	
}
#news.resume-section,#awards.resume-section,#edu.resume-section,#pubs.resume-section,#misc.resume-section,#com.resume-section{
	/* width: 600px; */
}

#home.bio-section,#awards.resume-section,#pubs.resume-section,#misc.resume-section{
	/* border-right: 3px solid #ccc; */
	border-left:3px solid #D9DCE3;
}
#awards.resume-section{
	/* width: 600px; */
}

#pubs.resume-section{
	line-height: 1.5em;
}
.Megatitle{
	margin-top: -50px;
	font-size: 50px;
	font-weight: bold;
}
.bio-section{
	/* width:300px; */
	height: 45em;
	/* margin-left: -50px; */
	word-wrap: normal;
	/* align: justify; */
	/* position: absolute; */
}

#news.resume-section,#edu.resume-section,#com.resume-section{
	background-color: #D9DCE3;
	border:none;
}
#edu.resume-section{
	/* width: 160%; */
}
#com.resume-section{
	/* width: 140%; */
}

section.resume-section .resume-item .resume-date{min-width:none}
.row {
	display: flex; 
	/* flex-direction: row; */
  }
 .col {
	width: 120%;
	padding: 1em;
	/* border: solid; */
  }
  
.rcol {
	float: left;
	padding-top: 1em;
	font-size: normal;
	width: 30%;
  }

.news-row {
	display: flex; 
	line-height: 0.1em;
	padding: 0%;
	margin: 0%;
	/* flex-direction: row; */
  }
  .col-news {
	width: 280%;
	padding: -0.5em;
	padding-left: -2.5em;
	/* border: solid; */
  }
  .rcol-news {
	float: right;
	padding-top: 0.8em;
	padding-left: 1.4em;
	width: 30%;
}


.right-pane{
	width: auto;
}


@media (min-width: 48em) {
	.column {
	  width: 50%;
	  float:left;
	}
	.rows {
	  content: "";
	  display: table;
	  clear: both;
	}
}
table{
	min-width: 50em;
}
td:nth-child(even){
	float: right;
	/* background-color: #007bff; */
	/* width: 100%; */
	/* margin-left: 1em; */
}

.news{
	line-height: 0px;
	font-size: medium;
	font-weight: 300;
}
.right-icon-size{
	font-size: 24px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*   
  /* Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
  }
 */
/**/

/*=====================Bootstrap======================*/
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
	.navbar-collapse{
		padding-right:0px !important;
	}
	.container-fluid{
		padding-right:0px !important;
	}
	.container{
		padding-right:-100px !important;
		padding-left:0px !important;
	}
	.left_Sec{
		margin-left:350px !important;
		padding-left: 10px;
	}
	.menu-toggle{
		visibility:hidden !important;
	}
	.navi_menu{
		/* width:22% !important */
		/* height: 100%;!important */
	}
}

/*===========Header CSS================*/
.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
	margin: 0; padding:0;
}


.body{
    align-self: center;
	width: 100px;
	/* margin-left: 1px; */
	/* padding-left: 10px; */
	/* background-color:#009688; */
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
ul{
	padding:0;
	margin:0;
}
.socialicns_header {
	text-align:left;
    /* margin-bottom: 12px; */
    margin-top: 0px;
	margin-left: -20px;
	
}
.socialicns_header ul li {
	color: #040b14;
    display: inline-block;
	height: 100px;
	text-align: center;
    /* list-style: outside none none; */
}
.socialicns_header ul li a {
    padding: 5px;
	text-align:left;
	color: black;
}
.fa.fa-facebook-square {
    color: #040b14;
    font-size: 18px;
}
.fa.fa-twitter {
    /* color: #040b14; */
    /* font-size: 18px; */
}
.fa.fa-google-plus-square {
    color: #040b14;
    font-size: 18px;
}

.socialicns_header ul li a {
    padding: 5px;
}
.navi_menu {
    float: left;
	/* margin-top: 72px; */
    /* margin-bottom: 22px; */
    align-items: center;
	position:fixed;
	z-index:50000;
	left:0px;
	padding-top: 0%;
	margin-top: 0px;
	margin-left: 0px;
    background-color: white;
	font-size: 20px;
	width:300px; 
	height: 100%

}
.profile_img{
	margin:0 auto;
	margin-left:22px;
    margin-top:50px;
	margin-bottom:22px;
}
.profile_img
img{
	height:190;
	margin:0 auto;
	display:block;
	border:4px solid #d8dce3;
	/* border-radius:50%!important; */
}
.profile_img
h1{
	color:#040b14;
	font-family: 'Source Sans Pro';
	font-size:25px;
	text-align:center;
	font-weight:bold;
}
.verticalmenu {
    float: left;
	width: fit-content;
	align-items: center;
	align-self: center;
    margin-bottom:45px;
    margin-top: 0px;
	
}
.verticalmenu ul li {
    list-style: none;
	padding-left:28px;
	text-align:center;
    line-height: 45px;
}
.verticalmenu ul li a {
    color: #040b14;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-size: 16px;

}
.verticalmenu ul li a:hover{
	color:#1f8c9a !important;
	transition:color 800ms ease 0s !important;
}
.addres_p{
	text-align:center;
	margin-top:-0px;
	margin-bottom:152px;
	margin-left: 8px;
}
.addres_p
p{
	color: #040b14;
	text-align:center;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}
.left_Sec{
	float:left;
	/* background-color: #007bff; */
}
.left_Sec:nth-child(odd){
	float:left;
	/* background-color: #007bff; */
}

.rightcontent{
	/* padding:12px; */
	/* margin-top:17px; */
	margin-left:48px;    
}
.rightcontent
h1{
	font-family:Source Sans Pro, "times new roman", arial;
    font-size: 32px;
	font-weight:bold;
	color:#040b14;
}
.rightcontent
h2{
	font-family:'Source Sans Pro';
    font-size: 22px;
	font-weight:bold;
}
.title{
    /* font-weight: 20px; */
	font-weight: 600;
	font-size: 21px;
}

.subtitle{
    /* font-weight: 20px; */
    font-size: 20px;
	font-weight:350;
}
.text_info{
    font-weight: 600;
    font-size: 21px;
}


.rightcontent
h3{
	font-family:'Source Sans Pro';
    font-size: 16px;
	text-transform:uppercase;
	font-weight:bold;
}
.rightcontent
p{
	font-family:'Source Sans Pro','Open Sans';
    font-size: 20px;
	word-wrap: break-word;
}
.rightcontent ul li{
	margin-top:17px;
	margin-left:17px;
	line-height:36px;
	font-family:'Source Sans Pro','Open Sans';
    font-size: 16px;
}
.fa.fa-angle-right {
    color: #333333;
	padding-right:10px;
    font-size: 18px;
}
.fa.fa-home {
    color: #040b14;
	padding-right:10px;
    font-size: 18px;
}
.fa.fa-newspaper-o {
    color: #040b14;
	padding-right:10px;
    font-size: 18px;
}
.fa.fa-trophy {
    color: #040b14;
	padding-right:10px;
    font-size: 18px;
}

.fa.fa-university{
    color: #040b14;
	padding-right:10px;
    font-size: 18px;
}

.fa.fa-user-o {
    color: #040b14;
	padding-right:10px;
    font-size: 18px;
}
.fa.fa-file-o {
    color: #040b14;
	padding-right:10px;
    font-size: 18px;
}
.fa.fa-book {
    color: #040b14;
	padding-right:10px;
    font-size: 18px;
}
.fa.fa-bars {
    color: white;
    padding-top: 7px;
}
.text-md-right{text-align:right!important}
.text-primary{color:#007bff!important}
.resume-date-text{margin-top: -100em;}
.border_b{
	border-bottom:4px solid #333333;
	width:10%;
	margin-bottom:12px;
}
#present{
	background-color:#e4edf9;
	display:inline-block;
	font-weight:600;
	padding:5px 15px;
}
.d1{
	background-color:white;
	padding:20px;
}
#d2{
	float:left;
	margin-bottom:22px;
}
/*============LightBox css=================*/
.container .gallery a img {
            float: left;
            height: auto;
            -webkit-transition: -webkit-transform .15s ease;
            -moz-transition: -moz-transform .15s ease;
            -o-transition: -o-transform .15s ease;
            -ms-transition: -ms-transform .15s ease;
            transition: transform .15s ease;
            position: relative;
        }

        .clear {
            clear: both;
        }

        a {
            color: #009688;
            text-decoration: none;
        }

        a:hover {
            color: #01695f;
            text-decoration: none;
        }
		.gallery_sec img{
			margin:0 auto !important;
			text-align:center;
			padding:8px;
		}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  border: 1px solid #040b14;
  color: black;
}

.gallery
a img{
	margin-bottom:12px !important;
}
.border3{
	border-right:3px solid #D9DCE3 !important;
	height:585px !important;
	width:30px;
	margin-top:50px !important;
	margin-left:90% !important;
}

.border-bottom{
	border-bottom:3px solid #D9DCE3 !important;
	height:585px !important;
	width:30px;
	/* margin-top:50px !important; */
	/* margin-left:90% !important; */
}

